extends layout

block head
  link(rel='stylesheet', href='/stylesheets/question.css')

block content
  // Top navigation
  header.bar.bar-nav

    - var backId = id - 1;
    - var back = '/questions/' + backId;
    a(href=back)
      button.btn.btn-link.btn-nav.pull-left
        span.icon.icon-left-nav
        | Back

    h1.title #{title}
    //
      button.btn.btn-link.btn-nav.pull-right Next
        span.icon.icon-right-nav

  // Center content
  div.content
    div.content-padded
      div.jumbotron
        h1.name #{' ' + name}'s Job Search

      div#story-container
      each snippet in story
        p.snippet
          | #{snippet}

      p.final-word Good luck this summer, #{name}!

      div.spacer

    script(class='js-custom').
      $('#story-container').typed({
        strings: story,
        typeSpeed: 0
        });
